:root.dark {
    --color-base-bg: #212121;
    --color-base-text: #fff;
    --color-textbox-bg: #303030;
    --color-textbox-text: #fff;
    --color-border: #3c3c3c;
}

:root.light {
    --color-base-bg: #f6f6f6;
    --color-base-text: black;
    --color-textbox-bg: #fff;
    --color-textbox-text: #212529;
    --color-border: #ced4da;
}

@media (max-width: 600px) {
  #logo {
    max-width: 30px !important;
    max-height: 30px !important;
  }
  #change-theme {
    height: 30px !important;
    width: 30px !important;
  }
  .title {
    font-size: 1.3em;
  }
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--color-base-text);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--color-base-bg);
}

.header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 5px;
    margin-bottom: 50px;
}

.title {
    margin: 0;
}

#logo {
    max-height: 50px;
    max-width: 50px;
}

#change-theme {
    background-color: var(--color-base-bg);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
       
}

.prompter {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    gap: 20px;
}

.input-label {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

#cat-prompt {
    width: min(800px, 70vw);
    padding: 8px 14px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-textbox-text);
    background-color: var(--color-textbox-bg);
    background-clip: padding-box;
    border: 1px solid var(--color-border);
    appearance: none;
    border-radius: 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;       
}

#cat-prompt:focus {
    color: var(--color-textbox-text);
    background-color: var(--color-textbox-bg);
    border: 1px solid var(--color-border);
    outline: 0;
}        

#submit-response {
    background-color: #0faa4b;
    color: #F9FAF8;
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#submit-response:hover {
    background-color: #0e883d;
}

#response {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1.6em;
    margin-bottom: 50px;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

#cat-face {
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}